{% extends 'main/index.html' %}

{% block title %}
    Описание
{% endblock %}

{% block content %}
<div class="description">
    <div class="container">
        <div class="information">
            <div class="photo">
                <img src={{ object.object_image_d.url }}>
            </div>
            <div class="text">
                <p>{{ object.object_introduction }}</p>
                <h1>{{ object.object_name }}</h1>
                <p>{{ object.object_description }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}