@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
    margin: 0;
    font-family: 'Shadows Into Light Two', cursive;
    background-color: #ebe0e0;

}

*,
*:before,
*:after {
    box-sizing: border-box;

}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    color: white;


}

.header {
    height: 140px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background: black;
    border-bottom: 1px solid grey;

}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 17px 0 0 0;
    align-items: center;
}


.header__logo img{
    width: 120px;
    height: 100px;

}

.nav {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;

}


.nav__link {
    margin-left: 50px;
    text-decoration: none;
    color: white;
    opacity: 0.85;
    padding: 10px 10px;
    transition: opacity .1s linear;

}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
    transition: .2s linear;
    color: #eb5959;


}

.intro {
    font-family: 'EB Garamond', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 200px;
    background: url('bg/background_index2.jpg') center no-repeat;
}

.intro-title {
    text-align: center;
    text-transform: uppercase;
    margin: 0 130px;
    margin-bottom: 50px;

}

.intro__inner {
    max-width: 1170px;
    color: #ebe0e0;

}

.intro-subtitle {
    text-align: center;

    font-size: 25px;

}

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0 80px 0;
    border-top: 3px solid #96b1b1;

}

.features__icon {
    width: 50px;
    height: 50px;

}

.features__title {
    color: black;

}

.features__text {
    color: black;

}

.features__item {
    width: 33.33333%;
    text-align: center;
    padding: 40px 40px;
    margin: 25px 0;
}


.objects {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

}

.object__title {
    text-align: center;
    color: black;
    padding-bottom: 15px;
    border-top: 3px solid #96b1b1;


}


.object__item {
    width: 20%;
    position: relative;
    height: 169px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;


}

.object__photo {
    min-width: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%,
    0);
}


.object__content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 60px;
    background-color: f1e5e5;
    opacity: 0;
    transition: opacity .2s linear;



}

.object__item:hover .object__content {
    opacity: .7;



}

.object__button {
    padding-top: 15px;
}

.button {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 20px;
    padding: 3px 6px;
    color: black;


}

.button:hover {
    background: black;
    color: f1e5e5;
    transition: .2s linear;

}

.object__name {
    text-transform: uppercase;

}

.bg-items {
    background-color: yellow;

}

.description {
    background: url('bg/background_description.jpg') center no-repeat;
    height: 800px;
    width: 100%;
    padding-top: 200px;
    color: white;

}

.information {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.photo {
    width: 50%;

}

.photo img {
    width: 450px;
    padding-top: 65px;



}

.text {
    width: 50%;
    max-width: 400px;
    padding: 50px 0 0 0;




}


.text h1 {
    text-transform: uppercase;

}

.burger {
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 9px 2px;

}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    font-size: 0;
    color: transparent;
    cursor: pointer;
    position: relative;
}

.burger__item:before,
.burger__item:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: white;

}

.burger__item:before {
    top: -8px;

}

.burger__item:after {
    bottom: -8px;

}

.footer {
    height: 160px;
    width: 100%;
    position: absolute;
    background: black;
    border-top: 3px solid #96b1b1;


}

.footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;


}

.footer__years p {
    margin: 0;

}


.social__link {
    margin: 0px 70px;
    text-decoration: none;
    color: white;
    opacity: 0.85;
    padding: 10px 10px;
    transition: opacity .1s linear;
    border: 3px solid black;

}

.social__link:hover {
    opacity: 1;
    color: black;
    border: 3px solid white;
    background: white;
    border-radius: 50px;
    transition: .3s linear;


}

.footer__author {
    padding-top: 10px;
}







@media (max-width: 1200px) {

    .header {
        padding-left: 40px;
        padding-right: 40px;

    }



}


@media (max-width: 991px) {
    .photo {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0;

    }


    .text {
        width: 100%;
        font-size: 15px;


    }

    .description {
        height: 1200px;

    }

    .object__item {
        width: 50%;


    }

    .nav {
        display: none;

    }

    .burger {
        display: block;

    }


}


@media (max-width: 772px) {



    .features__item {
        width: 100%;
        padding: 40px 115px;



    }

    .intro {
        padding-top: 150px;


    }

    .intro-title {
        font-size: 25px;



    }

    .intro-subtitle {
        font-size: 20px;



    }


    .object__title {
        font-size: 14px;


    }



}

@media (max-width: 710px) {
    .social__link {
        margin: 0px 25px;

    }


}

@media (max-width: 655px) {

    .intro-title {
        font-size: 16px;

    }


    .intro-subtitle {
        font-size: 16px;

    }


}



@media (max-width: 480px) {
    .intro {
        height: 530px;
        padding-top: 115px;



    }

    .intro-title {
        font-size: 15px;
        margin: 0px 75px;

    }


    .intro-subtitle {
        font-size: 14px;

    }

    .object__item {

        width: 100%;

    }


     .photo img {
        width: 80%;


    }


    .text {
        width: 80%;
        font-size: 14px;


    }

    .social__link {
        margin: 0px 5px;

    }

}



